**/bin/
**/obj/
**/.vs/
**/.vscode/
**/.idea/
**/*.user
**/*.suo
**/node_modules/
**/mongo-data/
**/secrets.json
**/*.jwk
**/Dockerfile*
**/docker-compose*
**/.dockerignore
.git/
.github/
docs/
tests/
